<div class="card text-center">
  <div class="card-header">
    {{ persona?.direccion?.pais || 'Sin información' }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ persona?.nombre }}</h5>
    <p class="card-text">Colonia: {{ persona?.direccion?.colonia }}. Calle: {{ persona?.direccion?.calle }}</p>
    <p class="card-text">Edad: {{ persona?.edad }}</p>
    <button class="btn btn-secondary m-1" (click)="editar()">Editar</button>
    <button class="btn btn-danger m-1" (click)="eliminar()">Eliminar</button>
  </div>
  <div class="card-footer text-muted">
    {{ persona?.frase }}
  </div>
</div>